html {
    font-size: 18pt;
}

body{
    width: auto;
    background-color: #e4c1f96a;
    background-image: url('https://i.pinimg.com/originals/28/fb/eb/28fbebbc7467dc6688971c83e8d2dfcf.png');
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
}

ul{
    list-style: none;
}

.container{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar{
    justify-content: center;
    padding: 25px;
}

.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
    gap: 0.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons li {
    max-width: 100%;
}

.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button{
    display: inline-block;
    width: 7.77rem;
    height: 2rem;
    line-height: calc(2rem - 2px);
    padding: 0 0.5rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.075rem;
    padding-left: calc(0.075rem + 0.5rem);
    font-size: 0.625em;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #ce0c8a;
    border: solid 1px #ce0c8a;
    border-radius: 2.5rem;
}

.main-content{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #dec2fc;
    font-size: 1.2em;
    font-weight: 1000;
    text-align: center;
}

#cynbubs{
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
    color: #fa91d4;
}

#artist-title{
    font-size: 1.4em;
    color: #fa91d4;
}

#center-content{
    color: #fa91d4;
    background-color: #f8eea2c7;
    border-radius: 2.5rem;
    line-height: 2.0;
    padding: 25px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 15px;
}

.icons li{
    border: solid 2.5px #ce0c8a;
    border-radius: 2.5rem;
    padding: 8.5px;
}

.icons li svg{
    fill: #ce0c8a;
}


.gallery {
    width: 100%;
    margin: auto;
}
  
.gallery > div {
    columns: 7;
    width: auto;
    gap: 4%;
    padding: 10px;
}
  
.gallery img {
    display:block;
    transition: 0.25s;
    margin-bottom: 1.25rem;
}

.container2{
    margin-top: 25px;
}

.gallery2{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding: 5px;
}

.gallery2 > div{
    gap:1.25rem;
    padding-top:1.25rem;
}

.gallery2 img {
    width: 30%;
    margin-bottom: 0.5rem;
    transition: 0.25s;
}

.gallery2 img:hover {
    transform: scale(1.75);
}

/******************* EXTRA-SMALL SCREENS ****************/
@media (max-width: 430px){
    .gallery > div{
        columns: 2;
        gap: 10%;
        padding: 10%;
    }
    .gallery img {
        margin-bottom: 0.5rem;
    }

    .gallery img:hover {
        transform: none;
    }
}


/******************* SMALL SCREENS **********************/
@media (min-width: 430px) and (max-width: 480px){
    body{
        background-image: none;
    }

    .button{
        width: 7.3rem;
    }

    #cynbubs{
        visibility: hidden;
        height: 150px;
        font-size: 5rem;
    }

    #cynbubs:before {
        content:"cynbubs"; 
        visibility: visible;
    }

    .icons li{
        padding: 10px;
        padding-bottom: 7px;
    }

    .gallery > div{
        columns: 3;
        gap: 5%;
        padding: 10px;
    }
    .gallery img {
        margin-bottom: 0.5rem;
    }

    .gallery img:hover {
        transform: none;
    }
}


/********************* TABLET SCREENS ***********************/
@media (min-width: 481px) and (max-width: 768px){
    .gallery > div{
        columns: 3;
        gap: 5%;
        padding: 10px;
    }
    
    .gallery2 img{
        width: 30%;
    }
}

/********************* MEDIUM SCREENS **********************/
@media (min-width: 768px) and (max-width:991px){
    .gallery > div{
        columns: 4;
        gap: 9%;
        padding: 10px;
    }

    .gallery2 img{
        width: 32%;
    }
}

/********************* LARGE SCREENS ***********************/
@media (min-width: 992px) and (max-width: 1200px){
    .gallery > div{
        columns: 6;
        gap: 6.5%;
        padding: 10px;
    }
    .gallery img {
        margin-bottom: 0.3rem;
    }

    .gallery img:hover {
        transform: none;
    }

    .gallery2 img{
        width: 32%;
    }
}